.tabzy--active a {
    position: relative;
    color: aqua;
}
/* .tabzy--active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: aqua;
} */
